/* purgecss start ignore */
@import "tailwindcss/base";
/* purgecss end ignore */

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* purgecss start ignore */
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000024;
}

.grid-item {
  flex-basis: 50%;
  padding-bottom: 1rem;
}

.grid-item:nth-of-type(odd) {
  padding-right: 1rem;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* purgecss end ignore */

